body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(70deg, rgb(33, 33, 33), rgb(3, 117, 66));
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.3em;
    font-weight: bold;
}

.center-content {
    display: flex;
}

.center-content button {
    align-items: center;
    margin: 0 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
    white-space: nowrap;
    /* предотвращает перенос строки */
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background-color: #0b6a10;
}
